body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f8fffa;
}

.container {
    display: flex;
    height: 100vh;
    padding: 80px;
}

/* LEFT SIDE */
.left {
    width: 55%;
    padding-top: 70px;
}

.icon i {
    font-size: 55px;
    color: #34c759;
    margin-bottom: 20px;
}

.left h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.features li {
    font-size: 17px;
    margin-bottom: 10px;
}

/* RIGHT SIDE */
.right {
    width: 40%;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    flex: 1;
    padding: 12px;
    background: #f2f2f2;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.tabs .active {
    background: #ffffff;
    font-weight: bold;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 15px;
    font-weight: bold;
}

.form input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px;
}

.signin-btn {
    margin-top: 20px;
    padding: 12px;
    background: #1db954;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #777;
}

.google-btn {
    padding: 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.google-btn i {
    margin-right: 10px;
}
.tabs button.active {
    background: white;
    font-weight: bold;
}
